
.App {
  background-image: url("./images/lotr-bg1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  background-size: cover;
}

.container{
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
@media (min-width:576px){
  .container{
    max-width: 540px;
  }
}
@media (min-width:768px){
  .container{
    max-width: 720px;
  }
}
@media (min-width:992px){
  .container{
    max-width: 960px;
  }
}
@media (min-width:1200px){
  .container{
    max-width: 1140px;
  }
}
@media (min-width:1400px){
  .container{
    max-width: 1320px;
  }
}